.container {
	margin:0 auto;
	width:900px;
	/* align:center; */
}

.title {
	text-align:center;
}

body {
	font-size:12pt;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}

#aidadiv {
	width:600px;
	height:600px;
	float:right;
}

#slidercontainer {
	float:right;
	width:600px;
	height:32px;
}

#animationslider {
	width:596px;
}

#aidabuttons {
	float:left;
	text-align:center;
	margin:0 auto;
	width:300px;
	
}

#aidabuttons button {
	margin:16px;
}

#aidabuttons input {
	margin:16px;
}