.container {
	margin:0 auto;
	width:900px;
	/* align:center; */
}

.title {
	text-align:center;
}

body {
	font-size:12pt;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}

#aida {
	float:right;
}
