.container {
	margin:0 auto;
	width:900px;
	/* align:center; */
}

.title {
	text-align:center;
}

body {
	font-size:12pt;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}

#aida {
	float:right;
	width:600px;
}

#aidabuttons {
	float:left;
	text-align:center;
	margin:0 auto;
	width:300px;
	
}

#aidabuttons button {
	margin:16px;
}

#aidabuttons input {
	margin:16px;
}